This code has been created from following Data School's Youtube scikit-learn kits in the community section of his channel.
https://www.youtube.com/user/dataschool/community

In [1]:
# importing relevent packages
import numpy as np
import pandas as pd
import sklearn
import nltk

In [2]:
#Displaying the version of the imported packages
print('The numpy version is {}.'.format(np.__version__))
print('The pandas version is {}.'.format(pd.__version__))
print('The scikit-learn version is {}.'.format(sklearn.__version__))
print('The nltk version is {}.'.format(nltk.__version__))

The numpy version is 1.18.1.
The pandas version is 1.0.1.
The scikit-learn version is 0.22.1.
The nltk version is 3.4.5.

In [17]:
# Creating the lists for the data
Fare = [7.2500, 71.2833, 7.9250, 53.1000, 8.0500, 8.4583]
Embarked = ["S","C","S","S","S","Q"]
Sex = ["male","female","female","female","male","male"]
Age = [22.0,38.0,26.0,35.0,35.0]

In [22]:
# Converting the lists into Pandas Series
Fare = pd.Series(Fare, name = "Fare")
Embarked = pd.Series(Embarked, name = "Embarked")
Sex = pd.Series(Sex, name = "Sex")
Age = pd.Series(Age, name = "Age")

In [23]:
# Joining all the Pandas Series into a Pandas Dataframe
df = pd.concat([Fare, Embarked, Sex, Age], axis=1)
df

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

# scikit-learn tip \#1
Use ColumnTransformer to apply different preprocessing to different columns:
- select from DataFrame columns by name
- passthrough or drop unspecified columns

In [25]:
# Imorting modules
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [27]:
# Instantiating the one hot encoder and the simple imputer
ohe = OneHotEncoder()
imp = SimpleImputer()

In [28]:
# Creating an instance of the column transformer
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
    (imp, ['Age']),
    remainder = 'passthrough')

In [29]:
# fitting and transforming df 
ct.fit_transform(df)

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])

# scikit-learn tip \#2

There are SEVEN ways to select columns using ColumnTransformer:
1. column name
2. integer position
3. slice
4. boolean mask
5. regex pattern
6. dtypes to include
7. dtypes to exclude

In [30]:
# Imorting module

from sklearn.compose import make_column_selector

In [34]:
# all SEVEN of these produce the same results
ct1 = make_column_transformer((ohe, ['Embarked', 'Sex']))
ct2 = make_column_transformer((ohe, [1,2]))
ct3 = make_column_transformer((ohe, slice(1,3)))
ct4 = make_column_transformer((ohe, [False, True, True, False]))
ct5 = make_column_transformer((ohe, make_column_selector(pattern='E|S')))
ct6 = make_column_transformer((ohe, make_column_selector(dtype_include=object)))
ct7 = make_column_transformer((ohe, make_column_selector(dtype_exclude='number')))

In [35]:
# fitting and transforming df using the ct1 instance
ct1.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

In [36]:
# fitting and transforming df using the ct2 instance
ct2.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

In [37]:
# fitting and transforming df using the ct3 instance
ct3.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

In [38]:
# fitting and transforming df using the ct4 instance
ct4.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

In [39]:
# fitting and transforming df using the ct5 instance
ct5.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

In [40]:
# fitting and transforming df using the ct6 instance
ct6.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

In [41]:
# fitting and transforming df using the ct7 instance
ct7.fit_transform(df)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1

# scikit-learn tip \#1